* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lucida Console", "Courier New", monospace;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5f953d;
    padding: flex;
}

.logo {
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    padding: 8px 12px;
    transition: 0.3s;
}

/*When the user hovers their mouse over a link inside 
the navigation bar, apply these styles. */
.nav-links li a:hover {
    background-color: #2b501d;
    border-radius: 5px;
}

.search-box {
    display: flex;
    gap: 5px;
}

.search-box input {
    padding: 5px;
}

.search-box button {
    padding: 5px 10px;
    background-color: #9dbc91;
    cursor: pointer;
}

.page {
    padding: 20px;
}

.hidden {
    display: none;
}

body {
  background-image: url("images/background.jpg");
  background-repeat: no-repeat; 
  background-size: cover;      
  background-position: center;  
  background-attachment: fixed; 
}

.input {
  background-color: rgb(255, 255, 255);
  color: #065308;
  border: 4px solid rgb(53, 126, 11);
}

.project-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 255);
  color: #065308;
  border: 2px solid black;
}

.contact-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 255);
  color: #065308;
  border: 2px solid black;
}

.aboutme-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 255, 255);
  color: #065308;
  border: 2px solid black;
}

#resume {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 255, 255);
  color: #065308;
  border: 2px solid black;
}

#contacts {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

a {
    color: rgb(13, 102, 7);          
    text-decoration: none;  
}

